@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Bold.eot');
  src: local('☺'), url('Proxima Nova Bold.woff') format('woff'),
    url('Proxima Nova Bold.ttf') format('truetype'),
    url('Proxima Nova Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Bold It.eot');
  src: local('☺'), url('Proxima Nova Bold It.svg') format('svg'),
    url('Proxima Nova Bold It.ttf') format('truetype'),
    url('Proxima Nova Bold It.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Semibold.eot');
  src: local('☺'), url('Proxima Nova Semibold.woff') format('woff'),
    url('Proxima Nova Semibold.ttf') format('truetype'),
    url('Proxima Nova Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Light.eot');
  src: local('☺'), url('Proxima Nova Light.svg') format('svg'),
    url('Proxima Nova Light.ttf') format('truetype'),
    url('Proxima Nova Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Light It.eot');
  src: local('☺'), url('Proxima Nova Light It.svg') format('svg'),
    url('Proxima Nova Light It.ttf') format('truetype'),
    url('Proxima Nova Light It.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Reg.eot');
  src: local('☺'), url('Proxima Nova Reg.svg') format('svg'),
    url('Proxima Nova Reg.ttf') format('truetype'),
    url('Proxima Nova Reg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Reg It.eot');
  src: local('☺'), url('Proxima Nova Reg It.svg') format('svg'),
    url('Proxima Nova Reg It.ttf') format('truetype'),
    url('Proxima Nova Reg It.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Medium.eot');
  src: local('☺'), url('Proxima Nova Medium.ttf') format('truetype'),
    url('Proxima Nova Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
